@{
    ViewData["Title"] = "Helpful Links";
}

<div class="container" style="background-color: transparent;">
    <br />
    <br />
    <br />
    <h3>Navigating the difficult path of attending the dojo as an intenational student? Here are some helpful links:</h3>
    <br />
    <br />
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="http://www.codingdojo.com">
        <div class="card-header">Coding Dojo</div>
        <div class="card-body">
            <img class="linkImages" src="../images/CDlogo.png" />
        <p style="color: white;" class="card-text">Come explore the coding dojo and all it has to offer!</p>
        </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="http://www.fmjfee.com">
        <div class="card-header">I-901 Fee Processing</div>
        <div class="card-body">
            <img class="linkImages" src="../images/DHS.png" />
            <p class="card-text">Website to pay the SEVP Form I-901 Fee</p>
        </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="https://www.usembassy.gov">
            <div class="card-header">List of US Consulates</div>
            <div class="card-body">
                <img class="linkImages" src="../images/dos-logo-light.png" />
                <p class="card-text">Looking for the nearest US Embassy or Consulate? Look no further!</p>
            </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="https://ceac.state.gov/genniv">
            <div class="card-header">DS-160 application</div>
            <div class="card-body">
                <img style="border-radius: 50%" class="linkImages" src="../images/dos.jpg" />
                <p class="card-text">Online application site for the Form DS-160 and DS-157</p>
            </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="https://www.internationalstudent.com">
            <div class="card-header">International Student Guide</div>
            <div class="card-body">
                <img class="linkImages" src="../images/ISlogo.png" />
                <p class="card-text">International Student (not affiliated with the Coding Dojo) is a site designed to help international students seeking education in the US, and includes helpful things like application timelines and what to expect at a Visa Interview</p>
            </div>
        </a>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <a href="https://www.codingdojo.com/international-students">
            <div class="card-header">Coding Dojo International Student Guide</div>
            <div class="card-body">
                <img class="linkImages" src="../images/CDlogo.png" />
                <p class="card-text">Coding Dojo's own process for admitting international students!</p>
            </div>
        </a>
    </div>
</div>
