@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<div class="container">

<address>
    Coding Dojo - Seattle<br />
    10777 Main St #100 <br />
    Bellevue, WA 98004<br />
    <abbr title="Phone">P:</abbr>
    +1.844.446.3656
</address>
<a href="http://www.codingdojo.com/seattle"><button class="btn btn-primary">Visit us online!</button></a>

</div>
