@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<h3>Planning on attending the Coding Dojo as an international student?</h3>
<h5>Look no further for answers!</h5>
<div id="frame">
<iframe src='https://webchat.botframework.com/embed/DojoHelper?s=r0MmuxLPFxc.cwA.toE.k_-s5iJ91PcZf7FckhN4pof0mdUvMs4x78hh1nrlgLQ'></iframe>
</div>
</div>